html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    touch-action: none; 
    width: 100%;
    height: 100%;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #ccc;
    background-color: #333;
    padding: 2px;
}

#stats {
    float: right;
    display: inline-block;
    text-align: right;
}

#colors {
    display: inline-block;
}

#colors > input {
    margin: 0;
    padding: 0;
    border: 0;
}

#file-ui {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    background-color: #333;
    border: 1px solid #bbb;
    padding: 2px;
    color: #ccc;
}

#file-ui-header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #bbb;
}

#close-file-ui {
    float: right;
}

#file-ui-list {
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
    width: 100%;
}

#file-ui-list > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
